[submodule "themes/ghostwriter"]
	path = themes/ghostwriter
	url = git@github.com:jbub/ghostwriter.git
[submodule "themes/herring-cove"]
	path = themes/herring-cove
	url = git@github.com:spf13/herring-cove.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/hugo-embed-pdf-shortcode"]
	path = themes/hugo-embed-pdf-shortcode
	url = https://github.com/anvithks/hugo-embed-pdf-shortcode.git
